<% provide(:title, "Авторизация") %>

<div class="kroshka">
          <a href="/">Главная</a> / <span>Авторизация</span>
</div>

<h1>Авторизация</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, 'E-Mail' %>
      <%= f.text_field :email %>

      <%= f.label :password, 'Пароль' %>
      <%= f.password_field :password %>

      <%= f.submit "Войти", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Еще не зарегирированы? <%= link_to "Регистрация!", signup_path %></p>
  </div>
</div>