<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta name="description" content="<%= yield(:description) %>">
  <meta name="keywords" content="<%= yield(:keywords) %>">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/assets/jquery-2.1.3.min.js"></script>
</head>
<body>

<div class="main">
<%= render 'layouts/header' %>
    <div id="contentwrapper">
    	<div id="content">
        
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
			<%= yield %>
		</div>
    </div>      
<%= render 'layouts/left_bar' %>
<%= render 'layouts/right_bar' %>
    
    <div class="clr"></div>
<%= render 'layouts/footer' %>      
</div>
</body>
</html>
